.grid-container__subtitle {
  margin: 0 0 0 6px;
  grid-column: 1;
  grid-row: 2;
  align-self: flex-start;
}

@media (max-width: $breakpoint-middle) {
  .grid-container__subtitle {
    margin: 30px 0 30px 6px;
    grid-column: unset;
    grid-row: unset;
    align-self: inherit;
  }
}

@media (max-width: $breakpoint-narrow) {
  .grid-container__subtitle {
    margin: 30px 0 0 4px;
  }
}
