.form__input {
  margin: 0;
  padding: 0 0 0 20px;
  display: block;
  box-sizing: border-box;
  width: 348px;
  height: 50px;
  border: 2px solid $content-color-theme-light;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__input:focus {
  outline: none;
}

.form__input::-moz-placeholder {
  font-family: "Roboto", "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.375px;
  color: $font-color-theme-light;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__input::-webkit-input-placeholder {
  font-family: "Roboto", "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.375px;
  color: $font-color-theme-light;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__input::placeholder {
  font-family: "Roboto", "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.375px;
  color: $font-color-theme-light;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__input:focus::-moz-placeholder {
  color: transparent;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder {
  color: transparent;
}

@media (max-width: $breakpoint-narrow) {
  .form__input {
    width: 175px;
    font-size: 11px;
    line-height: 2.18;
  }

  .form__input::-moz-placeholder {
    font-size: 11px;
    line-height: 2.18;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 2.18;
  }

  .form__input::placeholder {
    font-size: 11px;
    line-height: 2.18;
  }
}
