.footer__label {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: $font-color-theme-dark;
}

@media (max-width: $breakpoint-narrow) {
  .footer__label {
    margin: -20px 0 0;
    font-size: 12px;
    line-height: 2;
  }
}
