.header__link {
  display: block;
  margin-right: 40px;
  font-family: "Inter", "Arial", sans-serif;
  color: $font-color-nav-links;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link:hover {
  font-weight: 700;
}

@media (max-width: $breakpoint-narrow) {
  .header__link {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .header__link:last-of-type {
    margin-bottom: 6px;
  }

  .header__link:first-of-type {
    margin-top: 56px;
  }
}
