$back-color-r: #df2626;
$back-color-light: white;
$back-color-y: #ffce00;
$back-color-dark: black;

$font-color-theme-light: black;
$font-color-theme-dark: white;
$font-color-nav-links: #fbfbfb;

$content-color-theme-light: black;
$content-color-theme-dark: white;

$section-padding: 50px 50px 50px 48px;

$section-padding-tablet: 40px 40px 40px 38px;

$section-padding-mobile: 14px 20px 20px 18px;

$breakpoint-wide: 1400px;
$breakpoint-middle: 940px;
$breakpoint-narrow: 690px;
